.slide-item
{
    width: 100vw;
    height: 85vh;
}

body
{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #724102, #82531f, #916537, #a0774f, #ae8a68);
    margin: 0;
    overflow-x: hidden;
}

.navbar
{
    height: 20px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.footer
{
    background-color: saddlebrown;
}

.marca
{
    display: inline-block;
    width: 300px;
}

.conta
{
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: x-large;
}

.topo
{
    position: fixed;
    top: 0;
    background: #402e32;
    opacity: 0.8;
    z-index: 999;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imgnav
{
    float:left;
    width: 90px;
    height: 85px;
    border-color: transparent;
    padding-right: 30px;
}

ul
{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

button
{
    display: inline-block;
    background-color: transparent;
    border-color: transparent;
    color:#FFF7ED;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size:large;
    margin-left: 35px;
    margin-right: 35px;
    transition-duration: 0.4s;
    cursor:pointer;
    object-fit: contain;
}

button:hover
{
    color: #F7C99E;
    border-bottom-color: #F7C99E;
    border-bottom:1px, solid;
}

@media (max-width:1450px)
{
    .navbotao5{
        display: none;
    }
}
@media (max-width:1090px)
{
    .navbotao4{
        display: none;
    }
}
@media (max-width:800px)
{
    .navbotao3{
        display: none;
    }
}
@media (max-width:610px)
{
    .navbotao2{
        display: none;
    }
}

.aboutus{
    padding: 10rem 9% 2rem;
    flex-direction: column;
    color: #FFF7ED;
    justify-content: center;
    align-items: center;
    padding-left: 1;
    padding-right: 1;
    padding-top: 0;
    padding-bottom: 0;
    max-height:700px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), transparent), url('./img/Hero1.png');
    background-size: cover; 
    background-position: center center;
    height: 100%;
}
.sobrenos {
    color:#887863;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size:large;
    text-align: center;
    flex: 1;
    width: 55%;
    padding: 1rem;
    max-height: none;
}
.titulo-aboutus{
    color: #d89037;
    text-align: center;
}

.contatenos{
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
	background-image: url("./img/Hero3.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
    backdrop-filter: blur(15px);
}
.container_formulario{
    display:flex;
    flex-direction: column;
    width: 700px;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.formulario_header{
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    margin-bottom:30px;
    font-size: x-large;
    color:#d89037;
    font-family:Arial, Helvetica, sans-serif;
    height:fit-content;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-self: center;
}

.texto_formulario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color:#d89037;
    display: flex;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mensagem{
    width: 50%;
    height:200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    box-sizing: border-box;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    align-self: center;
}
.footer{
    width: 100vw;
    background-color: #482A03;
    height: 400px;
}

.redessociais{
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-bottom: 2px solid #2c1902;
    transition-duration: 0.4s;
}

.icone{
    margin: 17px 0 0 45px;
    cursor: pointer;
}

.redessociais .p{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
}

.colunas{
    display: flex;
    justify-content: center;
    text-align: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.colunas .coluna1 .nos{
    font-size: 25px;
}
